body {
    font-family: "Poppins",sans-serif;
    background: rgb(27,48,82);
    background: radial-gradient(circle, rgba(27,48,82,1) 0%, rgba(4,23,56,1) 30%, rgba(0,11,30,1) 56%, rgba(5,33,78,1) 100%);;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background: rgb(51,48,160);
    background: linear-gradient(90deg, rgba(51,48,160,1) 0%, rgba(34,82,132,1) 50%, rgba(6,1,75,1) 100%);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin: 20px;
}

.quiz-header {
    margin-bottom: 20px;
}

.quiz-header h2 {
    margin: 0;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    color: #fff;
}

ul li {
    margin: 10px 0;
}

h2{
    color: #fff;
}

h3{
    color: #fff;
}


button {
    --font-color: #323232;
    --bg-color: #fff;
    --main-color: #13143c;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }
  
  button:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }
  